@CHARSET "US-ASCII";

.pizzas{
	border: 2px outset #cccccc;
	border-radius: 5px;
	width: 250px;
	height: 80px;
	float: left;
	margin-right: 20px;
	cursor: pointer;
	z-index: 100;
}

.pizzas:hover, .pizzas:focus{
	border: 2px inset #cccccc;
}

dt{
	border-radius: 5px 5px 0 0;
	background-color: #eeeeee;
	height: 30px;
}

strong{
	margin: 0 0 0 10px;
	vertical-align: sub;
}

.spanCart, .spanOrder{
	float: left;
	color: #777777;
	vertical-align: sub;
	padding: 5px;
	cursor: pointer;
	display: none;
	background-image: url("../../images/skin/cart.png");
	background-repeat: no-repeat;
	text-indent: 30px;
	height: 22px;
}

.spanOrder{ float: right; margin: 0 20px;}

.spanCart:hover, .spanCart:focus, .spanOrder:hover, .spanOrder:focus{
	color: #ffffff;
	border-radius: 5px;
	background-color: #aaaaaa;
}

dd{
	margin-left: 10px;
	font-size: 12px;
}


#div{
	float: left;
	width: 254px;
	height: 130px;
	margin-left: 25px;	
}

#tabs_list{
	margin: 0 20px;	
}

#tabs{
	list-style: none outside none;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

#tabs li{
	display: inline;
	padding: 10px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;	
	padding-bottom: 0; 
}

#tabs li.active{
	font-weight: bold;
	border-bottom: 1px solid #eeeeee;
	background-color: #eeeeee;	
}

#tabs li a{	
	text-decoration: none;	
}

#tabs li:hover {background-color: #eeeeee;}

#tabs_content{
	margin: 0 20px;
	padding: 20px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #eeeeee;
}

.category{display: none; background-color: #ffffff;}

.category td{vertical-align: middle; border-bottom: 1px solid #cccccc;}

.category tr > td:first-child, tr > th:first-child{
	border-left: 1px solid #cccccc;
	padding-left: 5px;
}

.category tr > td:last-child, tr > th:last-child{
	border-right: 1px solid #cccccc;
	padding-right: 0;
}

.productdescription{
	font-size: 12px;
	width: 350px;
}

.center span{ width: 60px; margin: 0 auto; float: none;}
.center input{ width: 50px; margin-right: 0;}

.center { text-align: center; }
.left { text-align: left; }

#cartTable {display: none;}
#cartFoot tr {border: 1px solid #cccccc;}

img.product:hover{
	border: 1px solid #cccccc;
	border-radius: 4px;
	background-color: #eeeeee;
	cursor: pointer;	
}